In [72]:
import numpy as np
import pandas as pd

In [73]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Once your Drive is mounted, you can specify the path to your dataset. For example, if you have a CSV file named `my_data.csv` in the root of your Drive, you can load it into a pandas DataFrame like this:

In [74]:
dataset_path = '/content/drive/MyDrive/Collab/Churn_Modelling.csv'

In [75]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [76]:
df.sample(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9525,9526,15699415,Lewis,618,France,Female,46,6,150213.71,1,1,0,120668.46,1
7866,7867,15677062,Howe,666,France,Female,38,6,127043.09,1,1,1,8247.00,0
3292,3293,15757632,Hughes-Jones,496,France,Female,41,1,176024.05,2,1,0,182337.98,0
4228,4229,15691061,Rapuokwu,740,France,Female,37,9,0.00,2,1,1,73225.31,0
9163,9164,15802368,Ch'eng,608,France,Female,47,6,0.00,1,1,1,126012.57,0

In [77]:
df.shape

(10000, 14)

In [78]:
dummy_df = df.drop(columns=["RowNumber",	"CustomerId" ,	"Surname"])
dummy_df.sample(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
6846,689,Spain,Female,40,5,154251.67,1,0,1,118319.50,0
7581,708,Germany,Male,42,9,176702.36,2,1,1,104804.74,0
3237,802,Spain,Male,38,7,0.00,2,0,1,57764.65,0
3590,677,France,Male,37,3,88363.03,1,0,1,117946.30,0
278,646,France,Male,35,6,84026.86,1,0,1,164255.69,0

In [79]:
## Label Encoding for Gender
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dummy_df['Gender'] = le.fit_transform(dummy_df['Gender'])
dummy_df['Gender']

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Gender, Length: 10000, dtype: int64

In [80]:
np.unique(dummy_df['Geography'])

array(['France', 'Germany', 'Spain'], dtype=object)

In [81]:
## One HOt Encoding for Geography Column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(
    transformers = [('encoder', OneHotEncoder(drop='first'), ['Geography'])],
    remainder = 'passthrough'
)
transformed_df = ct.fit_transform(dummy_df)
transformed_df

array([[0.0000000e+00, 0.0000000e+00, 6.1900000e+02, ..., 1.0000000e+00,
        1.0134888e+05, 1.0000000e+00],
       [0.0000000e+00, 1.0000000e+00, 6.0800000e+02, ..., 1.0000000e+00,
        1.1254258e+05, 0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 5.0200000e+02, ..., 0.0000000e+00,
        1.1393157e+05, 1.0000000e+00],
       ...,
       [0.0000000e+00, 0.0000000e+00, 7.0900000e+02, ..., 1.0000000e+00,
        4.2085580e+04, 1.0000000e+00],
       [1.0000000e+00, 0.0000000e+00, 7.7200000e+02, ..., 0.0000000e+00,
        9.2888520e+04, 1.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 7.9200000e+02, ..., 0.0000000e+00,
        3.8190780e+04, 0.0000000e+00]])

In [82]:
dummy_df.sample(25)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
2758,624,France,1,36,6,0.00,2,0,0,84635.64,0
8133,720,France,0,34,3,118307.57,2,1,1,136120.29,0
5690,577,Spain,0,39,4,0.00,2,1,0,91366.42,0
7704,786,Spain,0,34,9,0.00,2,1,0,117034.32,0
55,619,France,1,43,1,125211.92,1,1,1,113410.49,0
9585,695,Spain,0,35,7,79858.13,2,1,1,127977.66,0
6044,684,France,1,46,0,0.00,2,1,1,36376.97,0
4614,730,France,1,34,1,0.00,2,1,1,126592.01,0
974,730,France,1,34,5,122453.37,2,1,0,138882.98,0
6766,638,Germany,0,33,5,129335.65,1,1,1,56585.20,1
8784,638,Germany,0,41,9,144326.09,1,1,0,73979.85,1
2790,540,Germany,1,39,4,127278.31,1,1,1,16150.34,0
288,744,Spain,0,26,5,166297.89,1,1,1,181694.44,0
5610,733,France,0,28,5,0.00,2,0,0,12761.16,0
9921,757,Germany,1,36,1,65349.71,1,0,0,64539.64,0
8010,467,Germany,1,51,10,114514.71,2,1,0,177784.68,1
6717,663,Spain,0,58,5,216109.88,1,0,1,74176.71,1
9126,753,Spain,1,51,4,79811.72,2,0,1,68260.27,1
791,611,France,1,49,3,0.00,2,1,1,142917.54,0
8741,622,Spain,0,23,8,0.00,2,1,1,131389.39,0
7725,482,France,0,35,5,147813.05,2,0,0,109029.72,0
9790,559,Spain,0,39,2,0.00,2,1,1,121151.10,0
8882,731,Spain,0,39,2,0.00,2,1,0,136737.13,0
9101,597,Spain,1,38,6,115702.67,2,1,1,25059.05,0
8573,633,France,0,26,8,124281.84,1,1,1,60116.57,0

In [83]:
X = transformed_df[:, :-1]
y = transformed_df[:, -1]

In [84]:
## Feature Scaling
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [85]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# initialize the model
ann = Sequential()

## 1st hidden layer
ann.add(Dense(units=6, activation='relu'))

ann.add(Dense(units=6, activation='relu'))

ann.add(Dense(units=1, activation='sigmoid'))

In [86]:
## Compile the model

ann.compile(optimizer='adam',loss = 'binary_crossentropy', metrics = ['accuracy'])

In [87]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
# 1. Early Stopping
early_stop = EarlyStopping(monitor='val_loss', patience= 20, restore_best_weights=True)

# 2. Model CheckPoint
checkpoint = ModelCheckpoint('best_bank_model.keras', monitor='val_accuracy', save_best_only=True)

ann.fit(
    X_train, y_train,
    batch_size=32,
    epochs=100,
    validation_data=(X_test, y_test), # Validation data dena zaroori hai
    callbacks=[early_stop, checkpoint]
  )

Epoch 1/100
250/250  4s 4ms/step - accuracy: 0.7774 - loss: 0.5799 - val_accuracy: 0.8035 - val_loss: 0.5059
Epoch 2/100
250/250  1s 3ms/step - accuracy: 0.8012 - loss: 0.4905 - val_accuracy: 0.8055 - val_loss: 0.4553
Epoch 3/100
250/250  1s 3ms/step - accuracy: 0.8035 - loss: 0.4574 - val_accuracy: 0.8170 - val_loss: 0.4167
Epoch 4/100
250/250  1s 5ms/step - accuracy: 0.8170 - loss: 0.4312 - val_accuracy: 0.8320 - val_loss: 0.3992
Epoch 5/100
250/250  1s 5ms/step - accuracy: 0.8303 - loss: 0.4071 - val_accuracy: 0.8370 - val_loss: 0.3874
Epoch 6/100
250/250  1s 5ms/step - accuracy: 0.8384 - loss: 0.3888 - val_accuracy: 0.8435 - val_loss: 0.3766
Epoch 7/100
250/250  1s 4ms/step - accuracy: 0.8356 - loss: 0.3926 - val_accuracy: 0.8510 - val_loss: 0.3680
Epoch 8/100
250/250  1s 3ms/step - accuracy: 0.8486 - loss: 0.3704 - val_accuracy: 0.8525 - val_loss: 0.3637
Epoch 9/100
250/250  1s 3ms/step - accuracy: 0.8450 - loss: 0.3628 - val_accuracy: 0.8540 - val_loss: 0.3594
Epoch 10/100
250/250  1s 3ms/step - accuracy: 0.8535 - loss: 0.3601 - val_accuracy: 0.8555 - val_loss: 0.3550
Epoch 11/100
250/250  1s 3ms/step - accuracy: 0.8440 - loss: 0.3704 - val_accuracy: 0.8565 - val_loss: 0.3525
Epoch 12/100
250/250  1s 3ms/step - accuracy: 0.8566 - loss: 0.3527 - val_accuracy: 0.8580 - val_loss: 0.3507
Epoch 13/100
250/250  1s 3ms/step - accuracy: 0.8526 - loss: 0.3481 - val_accuracy: 0.8565 - val_loss: 0.3479
Epoch 14/100
250/250  1s 3ms/step - accuracy: 0.8541 - loss: 0.3479 - val_accuracy: 0.8600 - val_loss: 0.3479
Epoch 15/100
250/250  1s 3ms/step - accuracy: 0.8593 - loss: 0.3437 - val_accuracy: 0.8615 - val_loss: 0.3471
Epoch 16/100
250/250  1s 3ms/step - accuracy: 0.8624 - loss: 0.3397 - val_accuracy: 0.8640 - val_loss: 0.3464
Epoch 17/100
250/250  3s 8ms/step - accuracy: 0.8579 - loss: 0.3527 - val_accuracy: 0.8655 - val_loss: 0.3455
Epoch 18/100
250/250  3s 12ms/step - accuracy: 0.8558 - loss: 0.3443 - val_accuracy: 0.8655 - val_loss: 0.3453
Epoch 19/100
250/250  2s 8ms/step - accuracy: 0.8569 - loss: 0.3485 - val_accuracy: 0.8660 - val_loss: 0.3445
Epoch 20/100
250/250  2s 6ms/step - accuracy: 0.8551 - loss: 0.3459 - val_accuracy: 0.8605 - val_loss: 0.3477
Epoch 21/100
250/250  1s 5ms/step - accuracy: 0.8694 - loss: 0.3292 - val_accuracy: 0.8595 - val_loss: 0.3490
Epoch 22/100
250/250  2s 3ms/step - accuracy: 0.8624 - loss: 0.3403 - val_accuracy: 0.8620 - val_loss: 0.3478
Epoch 23/100
250/250  1s 3ms/step - accuracy: 0.8546 - loss: 0.3435 - val_accuracy: 0.8610 - val_loss: 0.3454
Epoch 24/100
250/250  1s 3ms/step - accuracy: 0.8622 - loss: 0.3395 - val_accuracy: 0.8595 - val_loss: 0.3448
Epoch 25/100
250/250  1s 2ms/step - accuracy: 0.8623 - loss: 0.3417 - val_accuracy: 0.8615 - val_loss: 0.3441
Epoch 26/100
250/250  1s 3ms/step - accuracy: 0.8642 - loss: 0.3372 - val_accuracy: 0.8625 - val_loss: 0.3442
Epoch 27/100
250/250  1s 3ms/step - accuracy: 0.8644 - loss: 0.3339 - val_accuracy: 0.8600 - val_loss: 0.3436
Epoch 28/100
250/250  1s 3ms/step - accuracy: 0.8631 - loss: 0.3404 - val_accuracy: 0.8600 - val_loss: 0.3462
Epoch 29/100
250/250  1s 3ms/step - accuracy: 0.8596 - loss: 0.3428 - val_accuracy: 0.8615 - val_loss: 0.3430
Epoch 30/100
250/250  1s 4ms/step - accuracy: 0.8644 - loss: 0.3364 - val_accuracy: 0.8620 - val_loss: 0.3446
Epoch 31/100
250/250  1s 4ms/step - accuracy: 0.8626 - loss: 0.3418 - val_accuracy: 0.8640 - val_loss: 0.3440
Epoch 32/100
250/250  1s 4ms/step - accuracy: 0.8642 - loss: 0.3341 - val_accuracy: 0.8635 - val_loss: 0.3442
Epoch 33/100
250/250  1s 3ms/step - accuracy: 0.8553 - loss: 0.3482 - val_accuracy: 0.8625 - val_loss: 0.3419
Epoch 34/100
250/250  1s 3ms/step - accuracy: 0.8663 - loss: 0.3366 - val_accuracy: 0.8570 - val_loss: 0.3436
Epoch 35/100
250/250  1s 3ms/step - accuracy: 0.8667 - loss: 0.3298 - val_accuracy: 0.8610 - val_loss: 0.3433
Epoch 36/100
250/250  1s 3ms/step - accuracy: 0.8664 - loss: 0.3359 - val_accuracy: 0.8640 - val_loss: 0.3435
Epoch 37/100
250/250  1s 3ms/step - accuracy: 0.8629 - loss: 0.3359 - val_accuracy: 0.8645 - val_loss: 0.3421
Epoch 38/100
250/250  1s 3ms/step - accuracy: 0.8684 - loss: 0.3272 - val_accuracy: 0.8625 - val_loss: 0.3419
Epoch 39/100
250/250  1s 2ms/step - accuracy: 0.8693 - loss: 0.3292 - val_accuracy: 0.8650 - val_loss: 0.3416
Epoch 40/100
250/250  1s 3ms/step - accuracy: 0.8620 - loss: 0.3373 - val_accuracy: 0.8610 - val_loss: 0.3416
Epoch 41/100
250/250  1s 3ms/step - accuracy: 0.8594 - loss: 0.3432 - val_accuracy: 0.8630 - val_loss: 0.3412
Epoch 42/100
250/250  1s 3ms/step - accuracy: 0.8668 - loss: 0.3321 - val_accuracy: 0.8620 - val_loss: 0.3413
Epoch 43/100
250/250  1s 3ms/step - accuracy: 0.8668 - loss: 0.3289 - val_accuracy: 0.8620 - val_loss: 0.3410
Epoch 44/100
250/250  1s 3ms/step - accuracy: 0.8622 - loss: 0.3451 - val_accuracy: 0.8630 - val_loss: 0.3406
Epoch 45/100
250/250  1s 3ms/step - accuracy: 0.8697 - loss: 0.3266 - val_accuracy: 0.8600 - val_loss: 0.3423
Epoch 46/100
250/250  1s 3ms/step - accuracy: 0.8660 - loss: 0.3361 - val_accuracy: 0.8630 - val_loss: 0.3394
Epoch 47/100
250/250  1s 4ms/step - accuracy: 0.8639 - loss: 0.3339 - val_accuracy: 0.8635 - val_loss: 0.3406
Epoch 48/100
250/250  1s 4ms/step - accuracy: 0.8597 - loss: 0.3347 - val_accuracy: 0.8630 - val_loss: 0.3404
Epoch 49/100
250/250  1s 4ms/step - accuracy: 0.8613 - loss: 0.3431 - val_accuracy: 0.8640 - val_loss: 0.3395
Epoch 50/100
250/250  1s 4ms/step - accuracy: 0.8648 - loss: 0.3351 - val_accuracy: 0.8625 - val_loss: 0.3410
Epoch 51/100
250/250  1s 3ms/step - accuracy: 0.8650 - loss: 0.3369 - val_accuracy: 0.8630 - val_loss: 0.3400
Epoch 52/100
250/250  1s 3ms/step - accuracy: 0.8671 - loss: 0.3219 - val_accuracy: 0.8620 - val_loss: 0.3403
Epoch 53/100
250/250  1s 3ms/step - accuracy: 0.8590 - loss: 0.3393 - val_accuracy: 0.8640 - val_loss: 0.3405
Epoch 54/100
250/250  1s 3ms/step - accuracy: 0.8642 - loss: 0.3348 - val_accuracy: 0.8605 - val_loss: 0.3408
Epoch 55/100
250/250  1s 2ms/step - accuracy: 0.8672 - loss: 0.3247 - val_accuracy: 0.8620 - val_loss: 0.3421
Epoch 56/100
250/250  1s 3ms/step - accuracy: 0.8607 - loss: 0.3347 - val_accuracy: 0.8610 - val_loss: 0.3407
Epoch 57/100
250/250  1s 3ms/step - accuracy: 0.8658 - loss: 0.3328 - val_accuracy: 0.8630 - val_loss: 0.3399
Epoch 58/100
250/250  1s 3ms/step - accuracy: 0.8667 - loss: 0.3267 - val_accuracy: 0.8595 - val_loss: 0.3403
Epoch 59/100
250/250  1s 3ms/step - accuracy: 0.8717 - loss: 0.3217 - val_accuracy: 0.8585 - val_loss: 0.3430
Epoch 60/100
250/250  1s 3ms/step - accuracy: 0.8624 - loss: 0.3402 - val_accuracy: 0.8615 - val_loss: 0.3398
Epoch 61/100
250/250  1s 3ms/step - accuracy: 0.8712 - loss: 0.3198 - val_accuracy: 0.8615 - val_loss: 0.3405
Epoch 62/100
250/250  1s 3ms/step - accuracy: 0.8638 - loss: 0.3268 - val_accuracy: 0.8590 - val_loss: 0.3393
Epoch 63/100
250/250  1s 4ms/step - accuracy: 0.8653 - loss: 0.3333 - val_accuracy: 0.8625 - val_loss: 0.3390
Epoch 64/100
250/250  1s 4ms/step - accuracy: 0.8676 - loss: 0.3296 - val_accuracy: 0.8615 - val_loss: 0.3391
Epoch 65/100
250/250  1s 5ms/step - accuracy: 0.8628 - loss: 0.3425 - val_accuracy: 0.8615 - val_loss: 0.3404
Epoch 66/100
250/250  1s 4ms/step - accuracy: 0.8621 - loss: 0.3339 - val_accuracy: 0.8610 - val_loss: 0.3398
Epoch 67/100
250/250  1s 3ms/step - accuracy: 0.8671 - loss: 0.3298 - val_accuracy: 0.8590 - val_loss: 0.3391
Epoch 68/100
250/250  1s 3ms/step - accuracy: 0.8715 - loss: 0.3190 - val_accuracy: 0.8610 - val_loss: 0.3395
Epoch 69/100
250/250  1s 2ms/step - accuracy: 0.8673 - loss: 0.3265 - val_accuracy: 0.8590 - val_loss: 0.3385
Epoch 70/100
250/250  1s 3ms/step - accuracy: 0.8654 - loss: 0.3358 - val_accuracy: 0.8610 - val_loss: 0.3386
Epoch 71/100
250/250  1s 3ms/step - accuracy: 0.8650 - loss: 0.3294 - val_accuracy: 0.8625 - val_loss: 0.3396
Epoch 72/100
250/250  1s 3ms/step - accuracy: 0.8623 - loss: 0.3298 - val_accuracy: 0.8610 - val_loss: 0.3387
Epoch 73/100
250/250  1s 3ms/step - accuracy: 0.8604 - loss: 0.3366 - val_accuracy: 0.8600 - val_loss: 0.3377
Epoch 74/100
250/250  1s 3ms/step - accuracy: 0.8598 - loss: 0.3364 - val_accuracy: 0.8610 - val_loss: 0.3376
Epoch 75/100
250/250  1s 3ms/step - accuracy: 0.8577 - loss: 0.3401 - val_accuracy: 0.8595 - val_loss: 0.3389
Epoch 76/100
250/250  1s 3ms/step - accuracy: 0.8580 - loss: 0.3449 - val_accuracy: 0.8605 - val_loss: 0.3390
Epoch 77/100
250/250  1s 3ms/step - accuracy: 0.8661 - loss: 0.3289 - val_accuracy: 0.8600 - val_loss: 0.3391
Epoch 78/100
250/250  1s 4ms/step - accuracy: 0.8652 - loss: 0.3292 - val_accuracy: 0.8600 - val_loss: 0.3383
Epoch 79/100
250/250  1s 4ms/step - accuracy: 0.8640 - loss: 0.3258 - val_accuracy: 0.8630 - val_loss: 0.3409
Epoch 80/100
250/250  1s 5ms/step - accuracy: 0.8652 - loss: 0.3314 - val_accuracy: 0.8580 - val_loss: 0.3385
Epoch 81/100
250/250  1s 4ms/step - accuracy: 0.8529 - loss: 0.3454 - val_accuracy: 0.8600 - val_loss: 0.3381
Epoch 82/100
250/250  1s 3ms/step - accuracy: 0.8592 - loss: 0.3403 - val_accuracy: 0.8600 - val_loss: 0.3386
Epoch 83/100
250/250  1s 3ms/step - accuracy: 0.8644 - loss: 0.3262 - val_accuracy: 0.8605 - val_loss: 0.3380
Epoch 84/100
250/250  1s 3ms/step - accuracy: 0.8604 - loss: 0.3343 - val_accuracy: 0.8590 - val_loss: 0.3375
Epoch 85/100
250/250  1s 3ms/step - accuracy: 0.8671 - loss: 0.3217 - val_accuracy: 0.8620 - val_loss: 0.3378
Epoch 86/100
250/250  1s 3ms/step - accuracy: 0.8626 - loss: 0.3354 - val_accuracy: 0.8590 - val_loss: 0.3388
Epoch 87/100
250/250  1s 3ms/step - accuracy: 0.8640 - loss: 0.3334 - val_accuracy: 0.8610 - val_loss: 0.3380
Epoch 88/100
250/250  1s 3ms/step - accuracy: 0.8601 - loss: 0.3302 - val_accuracy: 0.8620 - val_loss: 0.3377
Epoch 89/100
250/250  1s 3ms/step - accuracy: 0.8676 - loss: 0.3239 - val_accuracy: 0.8580 - val_loss: 0.3398
Epoch 90/100
250/250  1s 3ms/step - accuracy: 0.8700 - loss: 0.3235 - val_accuracy: 0.8590 - val_loss: 0.3379
Epoch 91/100
250/250  1s 3ms/step - accuracy: 0.8574 - loss: 0.3386 - val_accuracy: 0.8585 - val_loss: 0.3371
Epoch 92/100
250/250  1s 3ms/step - accuracy: 0.8654 - loss: 0.3295 - val_accuracy: 0.8620 - val_loss: 0.3379
Epoch 93/100
250/250  1s 3ms/step - accuracy: 0.8678 - loss: 0.3282 - val_accuracy: 0.8620 - val_loss: 0.3380
Epoch 94/100
250/250  1s 4ms/step - accuracy: 0.8598 - loss: 0.3438 - val_accuracy: 0.8585 - val_loss: 0.3402
Epoch 95/100
250/250  1s 5ms/step - accuracy: 0.8662 - loss: 0.3351 - val_accuracy: 0.8625 - val_loss: 0.3366
Epoch 96/100
250/250  2s 3ms/step - accuracy: 0.8699 - loss: 0.3223 - val_accuracy: 0.8630 - val_loss: 0.3370
Epoch 97/100
250/250  1s 3ms/step - accuracy: 0.8673 - loss: 0.3209 - val_accuracy: 0.8650 - val_loss: 0.3373
Epoch 98/100
250/250  1s 3ms/step - accuracy: 0.8661 - loss: 0.3258 - val_accuracy: 0.8610 - val_loss: 0.3387
Epoch 99/100
250/250  1s 3ms/step - accuracy: 0.8673 - loss: 0.3157 - val_accuracy: 0.8590 - val_loss: 0.3377
Epoch 100/100
250/250  1s 3ms/step - accuracy: 0.8617 - loss: 0.3322 - val_accuracy: 0.8610 - val_loss: 0.3366

In [91]:
# 1. New Customer data (Germany ka customer, isliye pehla 1, doosra 0)
# [Geo_Germany, Geo_Spain, CreditScore, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary]
risky_customer = [[1, 0, 500, 0, 52, 1, 150000, 1, 0, 0, 120000]]

# 2. Scaling (Ab error nahi aayega kyunki 11 features hain)
risky_customer_scaled = sc.transform(risky_customer)

# 3. Prediction
new_prediction = ann.predict(risky_customer_scaled)

# 4. Result
print(f"Churn Probability: {new_prediction[0][0]:.4f}")
print("Will this customer leave? ", "YES" if new_prediction > 0.5 else "NO")

1/1  0s 133ms/step
Churn Probability: 0.9143
Will this customer leave?  YES

In [92]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# 1. Poore Test Set par prediction karo
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5) # 0.5 se zyada wale True (1), baaki False (0)

# 2. Confusion Matrix banao
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)

# 3. Accuracy check karo
print(f"\nFinal Test Accuracy: {accuracy_score(y_test, y_pred)*100:.2f}%")

# 4. Detailed Report (Precision, Recall, F1-Score)
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

63/63  0s 3ms/step
Confusion Matrix:
[[1545   62]
 [ 216  177]]

Final Test Accuracy: 86.10%

Classification Report:
              precision    recall  f1-score   support

         0.0       0.88      0.96      0.92      1607
         1.0       0.74      0.45      0.56       393

    accuracy                           0.86      2000
   macro avg       0.81      0.71      0.74      2000
weighted avg       0.85      0.86      0.85      2000

In [93]:
ann.save('bank_churn_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [94]:
from google.colab import files

# Specify the path to the model file you want to download
model_file_path = 'bank_churn_model.h5'

# Download the file
files.download(model_file_path)
print(f"'{model_file_path}' has been downloaded to your local system.")

'bank_churn_model.h5' has been downloaded to your local system.

In [95]:
import pickle

# 1. Scaler ko save karein
pickle.dump(sc, open('scaler.pkl', 'wb'))

# 2. Transformer ko save karein
pickle.dump(ct, open('transformer.pkl', 'wb'))

print("Preprocessing objects saved! ")

Preprocessing objects saved!

In [96]:
# Specify the path to the model file you want to download
model_file_path = 'scaler.pkl'

# Download the file
files.download(model_file_path)
print(f"'{model_file_path}' has been downloaded to your local system.")

'scaler.pkl' has been downloaded to your local system.

In [97]:
# Specify the path to the model file you want to download
model_file_path = 'transformer.pkl'

# Download the file
files.download(model_file_path)
print(f"'{model_file_path}' has been downloaded to your local system.")

'transformer.pkl' has been downloaded to your local system.